

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.email-container {
  max-width: 650px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.header img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 150px;
}


.content {
  padding: 20px ;
}

.content p {
  margin-bottom: 15px;
  line-height: 22px;
  font-size: 14px;
  font-weight: 600;
}

.btn {
  text-align: center;
  margin: 20px 0px;
}

.btn .button {
  background-color: #21BCF6;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 15px;
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
}

.footer {
  padding: 10px 20px;
  text-align: left;
  color: #555;
}

.footer p {
  margin: 5px 0;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 600;
}


@media (min-width: 768px) {
  .email-container {
    margin: 40px auto;
    padding: 10px;
    border-radius: 12px;
  }

  .header img {
    max-width: 80%;
  }

  .content {
    padding: 30px;
  }

  .footer {
    padding: 30px;
  }

  .btn .button {
    padding: 12px 30px;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .content p {
    font-size: 13px;
    line-height: 1.4;
  }

  .btn .button {
    padding: 10px 20px;
    font-size: 14px;
  }

  .footer p {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .header img {
    max-width: 90%;
  }

  .content {
    padding: 15px;
  }

  .btn .button {
    padding: 8px 15px;
    font-size: 12px;
  }

  .footer {
    padding: 15px;
  }

  .footer p {
    font-size: 12px;
  }
}
